# .gitignore for shop_t_shirt

# Django
.DS_Store
__pycache__/
*.py[cod]
*.sqlite3
env/
.env

# Vue
vue/node_modules/
vue/dist/
vue/.DS_Store

# local env files
vue/.env.local
vue/.env.*.local

# Log files
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*
vue/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# lock files
vue/package-lock.json
vue/yarn.lock
vue/pnpm-lock.yaml